<div class="container-reserv">
<div class="row-new">
<div class="col">
<h2>Your current reservations :</h2>
<% @reservations.each do |reservation| %>
  <div>
    <p><%= reservation.lecture.title %></p>
    <p><%= reservation.location %></p>
    <%= link_to 'Show details of reservation', lecture_reservation_path(reservation.lecture, reservation), method: :delete %>
  </div>
<% end %>

    </div>
    <div class="text-center">
      <%= link_to 'Back to Lectures', lectures_path, class: 'btn btn-secondary mt-3' %>
    </div>

  </div>
