<h2><%= @reservation.lecture.title %></h2>

<%= link_to 'Cancel Reservation', lecture_reservation_path(@reservation.lecture, @reservation), method: :delete, data: { confirm: 'Are you sure you want to cancel this reservation?' } %>

<%= link_to 'Back to Reservations', lecture_reservations_path %>
