<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card mb-4">
        <div class="card-body">
          <h2><%= @reservation.lecture.title %></h2>
          <p><%= @reservation.location %></p>

          <form class="d-flex" action="/reservations/<%= @reservation.id %>" method="delete">
            <button type="submit" class="btn btn-outline-danger mb-2 rounded-pill me-2">Delete reservation</button>
          </form>

          <%= link_to 'Back to reservations', reservations_path, class: 'btn btn-primary rounded-pill' %>

        </div>
      </div>
    </div>
  </div>
</div>
